<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hongik Hospital</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <h1>HOSPITAL INFORMATION</h1>
        <br><br>
        <a class="btn btn-lg btn-secondary" href="/hospital/address">병원 주소</a>
        <a class="btn btn-lg btn-secondary" href="/hospital/department">진료과 정보</a>
    </div>
    <br>
    <a href="/" class="btn btn-primary" style="float: right;">돌아가기</a>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
