<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h1>예약 신청</h1>
    <!--/reserve/department/doctor의 PostMapping에 form 데이터가 전달됨-->
    <form th:action="@{/reserve/department/doctor}" th:object="${form}" method="post">

        <div class="form-group">
            <label for="doctor">의사:</label>
            <select class="form-control" id="doctor" th:field="*{doctorId}">
                <option th:each="doc : ${doctors}" th:value="${doc.id}" th:text="${doc.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="month">월:</label>
            <select class="form-control" id="month" th:field="*{month}">
                <option th:each="m : ${#numbers.sequence(1, 12)}" th:value="${m}" th:text="${m}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="date">일:</label>
            <select class="form-control" id="date" th:field="*{date}">
                <option th:each="d : ${#numbers.sequence(1, 31)}" th:value="${d}"
                        th:text="${d}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="hour">시간:</label>
            <select class="form-control" id="hour" th:field="*{hour}">
                <option th:each="h : ${#numbers.sequence(9, 17)}" th:value="${h}" th:text="${h}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="minute">분:</label>
            <select class="form-control" id="minute" th:field="*{minute}">
                <option value="00">00</option>
                <option value="30">30</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">예약 신청</button>
    </form>
</div>
</body>
</html>
