<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <h1>Add Department</h1>
    </div>
    <form role="form" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="name">부서명</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="진료과 명을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">잘못된 이름</p>
        </div>
        <div class="form-group">
            <label th:for="name">전화번호</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control"
                   placeholder="전화번호를 입력하세요 (xxx-xxxx-xxxx)"
                   th:class="${#fields.hasErrors('phoneNumber')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">잘못된 비밀번호</p>
        </div>
        <p th:if="${isAlreadyExist}" class="text-danger">이미 존재하는 부서입니다.</p>
        <br>
        <button type="submit" class="btn btn-primary">생성</button>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
