<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <h1>Remove Department</h1>
        <br><br>
         <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>나이</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department : ${departments}">
                <td>
                    <span th:text="${department.name}"></span>
                </td>
                <td>
                    <span th:text="${department.phoneNumber}"></span>
                </td>
            </tr>
            </tbody>
        </table>

        <form th:action="@{/admin/edit/department/delete}" th:object="${form}" method="post" id="reservationForm">
            <!-- method = get으로 설정되어 있으므로 반환된 데이터가 GetMapping으로 전달됨.-->
            <div class="form-group">
                <label for="department">부서:</label>
                <select class="form-control" id="department" th:field="*{departmentId}">
                    <option th:each="dept : ${departments}" th:value="${dept.id}"
                            th:text="${dept.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" id="reserveButton">삭제하기</button>
        </form>
    </div>
    <a href="/admin/edit/department" class="btn btn-primary" style="float: right;">돌아가기</a>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>
